<module>
    <User_List f="nodata">
        <User_List>
            <Users t="dropdown" f="user"/>
            <Team t="radio" f="persist" vp="Survey_Unit/Vars/Team"/>
            <Login t="button" l="Control/Control"/>
        </User_List>
    </User_List>

    <Control f="nodata">
        <!-- DEVELOPER NOTE: Due to the differences between the Flinders-Survey search tab and the one that autogen provides differ quite alot,
         developer didn't use the special search element
        -->
        <Search f="noscroll">
            <cols>
                <Participants/>
                <Number_of_Walkers b="decimal"/>
            </cols> 
            <New_Survey_Unit t="button" l="Survey_Unit"/>
            <New_Point_of_Interest t="button" l="Point_of_Interest"/>
            <cols>
                <Search_Limit b="decimal">
                    How many records_would you like to see?
                </Search_Limit>
                <Entity_Types t="dropdown" f="nolabel"/>
            </cols>
            <Search_Results t="list" f="nolabel"/>
        </Search>
        <Map f="noscroll">
            <Map t="map"/>
        </Map>
        <Control>
            <GPS_choice t="radio">
                Choose which GPS to connect to:
                <opts>
                    <opt>Internal</opt>
                    <opt>External</opt>
                </opts>
            </GPS_choice>
            <cols>
                <col>
                    <GPS_Refresh_Rate b="decimal"/>
                </col>
                <col>
                    <Start_GPS t="button"/>
                    <Stop_GPS t="button"/>
                </col>
            </cols>
            <cols>
                <Tracklog_Distance_Interval_in_Meters b="decimal">
                    Tracklog Distance Interval (m)
                </Tracklog_Distance_Interval_in_Meters>
                <Tracklog_Distance_Button t="button">
                    Enable Tracklog and Set Distance Interval
                </Tracklog_Distance_Button>
            </cols>
            <cols>
                <Tracklog_Time_Interval_in_Seconds b="decimal">
                    Tracklog Time(Interval (s))
                </Tracklog_Time_Interval_in_Seconds>
                <Tracklog_Time_Button t="button">
                    Enable Tracklog and Set Time Interval
                </Tracklog_Time_Button>
            </cols>
            <Tracklog_Off t="button"/>
            <Tracklog_Status f="readonly"/>
            <Sync_On t="button"/>
            <Sync_Off t="button"/>
        </Control>
        <Next_IDs f="hidden">
            <autonum/>
        </Next_IDs>
    </Control>

    <Survey_Unit>
        <fmt>{{Survey_Unit_ID}} - {{Team}}</fmt>
        <Survey_Unit>
            <Survey_Unit_ID f="autonum">
                <desc>The current autonumbering assumes single device in field. If multiple devices are in use, uniqueness rules must be defined.</desc>
            </Survey_Unit_ID>
            <timestamp/>
            <Total_Transect_Width b="decimal">
                <desc>>Description TBD</desc>
            </Total_Transect_Width>
            <Number_of_Walkers b="decimal" i="Control/Search/Number_of_Walkers!">
                <desc>Description TBD</desc>
            </Number_of_Walkers>"
            <Participants i="Control/Search/Participants!">
                <desc>Description TBD</desc>
            </Participants>
            <Landform_Pattern>
                <desc>A combination of relief, slope, stream channel occurance and mode of geomorphological activity within the of the survey unit. What landform pattern comprises the majority (>50%) of the survey unit? Minimum size of a landform pattern is circle 300 m in diameter circle with you at the centre. If a landform pattern that is greater in size is encountered, create a new survey unit.</desc>
                <!--@SOURCE: vocabs/landform-pattern.xml-->
            </Landform_Pattern>
            <Landform_Element>
                <!--@SOURCE: vocabs/landform-elements.xml-->
            </Landform_Element>
            <Landform_Notes>
                <desc>Optional. Provide any additional descriptive notes if required.</desc>
            </Landform_Notes>
            <Vegetation_Structure_Upper>
                Vegetation Structure-Upper 
                <desc>Categories based on the growth form, height and cover within the survey unit. Describe the vegetation structure for the dominant or tallest stratum, if present. What is the vegetation structure that comprises the majority (>50%) of the survey unit?</desc>
                <!--@SOURCE: vocabs/survey-unit-vegetation-structure.xml -->
            </Vegetation_Structure_Upper>
            <Vegetation_Structure_Mid_stratum>
                Vegetation Structure-Mid stratum
                <desc>Describe the vegetation structure for the mid-stratum, if present. What is the vegetation structure that comprises the majority (>50%) of the survey unit?</desc>
                <!--@SOURCE: vocabs/survey-unit-vegetation-structure.xml -->
            </Vegetation_Structure_Mid_stratum>
            <Vegetation_Structure_Ground_stratum>
                Vegetation Structure-Ground stratum
                <desc>Describe the vegetation structure for the ground-stratum, if present. What is the vegetation structure that comprises the majority (greater than 50%) of the survey unit? Usually less than 2.0 m in height.</desc>
                <!--@SOURCE: vocabs/survey-unit-vegetation-structure.xml -->
            </Vegetation_Structure_Ground_stratum>
            <Vegetation_Notes/>
            <Ground_Surface_Visibility>
                <!-- @SOURCE: vocabs/ground-surface-visibility.xml -->
            </Ground_Surface_Visibility>
            <Ground_Surface_Notes/>
            <Photos t="camera"/>
            <New_POI t="button">
                Save and New Point of Interest
            </New_POI>
            <Finish_Survey_Unit t="button"/>
            <Track_Log_Status f="readonly"/>
        </Survey_Unit>
        <Vars>
            <Team t="radio" i="User_List/User_List/Team!">
                <!--@SOURCE: vocabs/team-code.xml-->
            </Team>
        </Vars>
    </Survey_Unit>

    <Point_of_Interest>
        <fmt>{{Point_of_Interest_ID}}</fmt>
        <Point_of_Interest>
            <Point_of_Interest_ID f="autonum">
                <desc>Description TBD</desc>
            </Point_of_Interest_ID>
            <Feature_Type>
                <desc>Description TBD</desc>
                <!-- @SOURCE: vocabs/feature-type.xml -->
            </Feature_Type>
            <Notes>
                <desc>Description TBD</desc>
            </Notes>
            <Photos t="camera"/>
            <cols>
                <timestamp/>
                <author/>
            </cols>
        </Point_of_Interest> 

        <Vars>
            <Team t="radio" i="User_List/User_List/Team!">
                <!--@SOURCE: vocabs/team-code.xml-->
            </Team>
        </Vars>
    </Point_of_Interest>

    <logic><![CDATA[
        <!--@SOURCE: logic/custom-search.bsh-->
        <!--@SOURCE: logic/user-tab-validation.bsh-->
        <!--@SOURCE: logic/tracklog.bsh-->
		<!--@SOURCE: logic/sync-disable.bsh-->
        ]]>
    </logic>
</module>
